/*
 * @File: 公有布局
 */

#root {
    height: 100%;
    background-color: rgba(0, 0, 0, .06);
}

.pageWrapper {
    padding: 12px;
    min-height: 100%;
    background-color: #fff;
}

/*
 * 字阶
 */

/* 次要内容 */
.fstage12 {
    font-size: 12px;
    line-height: 20px;
}

/* 主要内容 */
.fstage14 {
    font-size: 14px;
    line-height: 22px;
}

/* 标题 */
.fstage16 {
    font-size: 16px;
    line-height: 24px;
}

/* 标语文字-小 */
.fstage20 {
    font-size: 20px;
    line-height: 28px;
}

/* 标语文字-大 */
.fstage24 {
    font-size: 24px;
    line-height: 32px;
}

/* wrapper */
.paddingWrapper {
    box-sizing: border-box;
    padding: 12px;
    height: 100%;
}

.contentWrapper {
    height: 100%;
    background-color: #fff;
}

.padding12 {
    padding: 12px;
}

.padding8 {
    padding: 8px;
}

/* 可点击文字 */
.textClick {
    color: #1890ff;
    cursor: pointer;
}

.textClickDisable {
    color: #bfbfbf
}

.bgBlue2 {
    background-color: #bae7ff;
}

/* 全屏 */
.fullScreen:-webkit-full-screen {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.fullScreen:-ms-fullscreen {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.fullScreen:-moz-full-screen {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.overflow-auto {
    overflow: auto;
}

/*placeholder*/
input::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 12px;
}

textarea::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 12px;
}