/*
 * @File: 面向属性的 CSS
 */

/*
 * 间距
 */
.mt4 { margin-top: 4px; }
.mt6 { margin-top: 6px; }
.mt8 { margin-top: 8px; }
.mt12 { margin-top: 12px; }
.mt16 { margin-top: 16px; }
.mt20 { margin-top: 20px; }
.mt24 { margin-top: 24px; }
.mr4 { margin-right: 4px; }
.mr6 { margin-right: 6px; }
.mr8 { margin-right: 8px; }
.mr12 { margin-right: 12px; }
.mr16 { margin-right: 16px; }
.mr20 { margin-right: 20px; }
.mb4 { margin-bottom: 4px; }
.mb6 { margin-bottom: 6px; }
.mb8 { margin-bottom: 8px; }
.mb12 { margin-bottom: 12px; }
.mb16 { margin-bottom: 16px; }
.mb20 { margin-bottom: 20px; }
.mb24 { margin-bottom: 24px; }
.ml4 { margin-left: 4px; }
.ml6 { margin-left: 6px; }
.ml8 { margin-left: 8px; }
.ml12 { margin-left: 12px; }
.ml16 { margin-left: 16px; }
.ml20 { margin-left: 20px; }
.ml100 { margin-left: 100px; }
.pt4 { padding-top: 4px; }
.pt6 { padding-top: 6px; }
.pt8 { padding-top: 8px; }
.pv4 {padding: 4px 0; }
.pv6 {padding: 6px 0; }
.pv8 {padding: 8px 0; }
.ph4 {padding: 0 4px; }
.ph6 {padding: 0 6px; }
.ph8 {padding: 0 8px; }
.pt12 { padding-top: 12px; }
.pt16 { padding-top: 16px; }
.pt20 { padding-top: 20px; }
.pr4 { padding-right: 4px; }
.pr6 { padding-right: 6px; }
.pr8 { padding-right: 8px; }
.pr12 { padding-right: 12px; }
.pr16 { padding-right: 16px; }
.pr20 { padding-right: 20px; }
.pb4 { padding-bottom: 4px; }
.pb6 { padding-bottom: 6px; }
.pb8 { padding-bottom: 8px; }
.pb12 { padding-bottom: 12px; }
.pb16 { padding-bottom: 16px; }
.pb20 { padding-bottom: 20px; }
.pb4 { padding-bottom: 4px; }
.pb6 { padding-bottom: 6px; }
.pl8 { padding-left: 8px; }
.pl12 { padding-left: 12px; }
.pl16 { padding-left: 16px; }
.pl20 { padding-left: 20px; }
.m12 { margin: 12px; }
.p12 { padding: 12px; }
.padding4 { padding: 4px; }
/*
 * 盒子模型
 */
.dpflex { display: flex; }

.flex1 { flex: 1 }
.justCenter { justify-content: center;}
.alignCenter { align-items: center;}

/*
 * 字重
 */
.fw500 { font-weight: 500; }
.fw600 { font-weight: 600; }

/*
 * 中性色
 */
.black85 { color: rgba(0, 0, 0, .85); } /*标题（浅色背景下）*/
.black65 { color: rgba(0, 0, 0, .65); } /*主要内容（浅色背景下）*/
.black45 { color: rgba(0, 0, 0, .45); } /*次要内容（浅色背景下）*/
.black25 { color: rgba(0, 0, 0, .25); } /*禁用状态（浅色背景下）*/
.black15 { color: rgba(0, 0, 0, .15); } /*边框（浅色背景下）*/
.black09 { color: rgba(0, 0, 0, .09); } /*分割线（浅色背景下）*/
.black04 { color: rgba(0, 0, 0, .04); } /*背景色（浅色背景下）*/
.black02 { color: rgba(0, 0, 0, .02); } /*表头（浅色背景下）*/
.white1  { color: rgba(255, 255, 255, 1) } /*标题（深色背景下）*/
.white85 { color: rgba(255, 255, 255, .85) } /*主要内容（深色背景下）*/
.white65 { color: rgba(255, 255, 255, .65) } /*次要内容（深色背景下）*/
.white45 { color: rgba(255, 255, 255, .45) } /*禁用状态（深色背景下）*/
.white25 { color: rgba(255, 255, 255, .25) } /*边框（深色背景下）*/
.white15 { color: rgba(255, 255, 255, .15) } /*分割线（深色背景下）*/
.white09 { color: rgba(255, 255, 255, .09) } /*背景色（深色背景下）*/
.white04 { color: rgba(255, 255, 255, .04) } /*表头（深色背景下）*/
/*
 * 功能色
 */
.blue6 { color: #1890ff; } /*链接*/
.green1 { color: #f6ffed; }
.green6 { color: #52c41a; } /*成功*/
.gold6 { color: #faad14; } /*警告*/
.red6 { color: #f5222d; } /*错误/失败*/
/*
 * 品牌色
 */
.blue1 { color: #e6f7ff; } /*选中的背景色*/
.blue5 { color: #40a9ff; } /*移入*/
.blue6 { color: #1890ff; } /*关键行动点、操作状态、重要信息高亮、图形化等*/
.blue7 { color: #096dd9; } /*点击*/
/*
 * 内容排版
 */
.taleft { text-align: left; }
.tacenter { text-align: center; }
.taright { text-align: right; }
/*
 * 布局
 */
.fr { float: right; }
.dil { display: inline-block; }
.overh { overflow: hidden; }
/* 大小 */
.width1 {width: 100%;}
.height1 {height: 100%;}
/* 样式 */
.cursorp {cursor: pointer}
